notifiValidator {

  bottom: 20px;
  border-radius: 10px;
  border: 2px solid yellow;
  z-index: 9999;
  height: 50px;
  transform: translate(-50%, 0);
  left: 50%;
  width: 300px;

}

.notifiValidator-c1 {

  width: 80px;
  height: 100%;
  border: 2px solid blue;
  top: 0%;
  left: 0%;

}

.notifiValidator-c2 {

  height: 100%;
  border: 2px solid blue;
  top: 0%;
  left: 80px;
  width: 220px;

}
